/*-------Main Card --------*/
.main{
  min-width: 1500px !important;
  max-width: 1000px !important;
}

.main > .card-header{
  text-align: center !important;
  background-color: #8b0000 !important;
}

.main > .card-body {
  text-align:center; min-height: 700px;
  font-size:20px;
}

.main > .card-body > table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
td {
    border: 1px solid #dddddd !important;
    text-align: left;
    padding: 8px;
    cursor: pointer;

  }

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
tr:nth-child(even) {
    background-color: #8b000029;
  }
