/*
orders staan uit gecomment omdat als er iets mis gaat dat ik aan de hand
van de borders kan zien waar de verschillende divs staan en wat er niet klopt
*/

/*----------Main body styling-----------*/
.col-md-3{
    min-width: 2300px;
}

.row {
    margin: 0 !important;
}

.card-header{
    text-align: center;
}

/*---------------Pop Up---------------*/
#pop-up-media {
    float:right;
}

#pop-up-color {
    float:left;
}

/*-------- 1e img ---------------*/
.img-container {
    /* border: solid red 2px; */
    min-width: 500px !important;
    max-width: 1100px !important;
    min-height: 300px !important;
    max-height: 600px !important; 
    overflow: hidden !important;
    float: left;
}

.img-container > img {
    max-height: 100%;
    max-width: 100%;
}

/*------Content Slider--------*/
.content_slider {

    min-width: 500px !important;
    max-width: 1100px !important;
    min-height: 300px !important;
    max-height: 600px !important;
    /* border:solid white 2px !important; */
    float: right;
}

.content_slider > a {
    max-height: 10px !important;
    top: 223px !important;
}

.content_slider > div > div > a {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.content_slider > div > div > video {
    max-height: 100%;
    max-width: 100%;
}


#bandDisc {
    /* border: solid blue 2px; */
    text-align:center;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}

#bandDisc > ul {
    /* border: solid 2px white; */
    list-style: none;
    max-width: fit-content;
    margin-left: 45%;

}

#ledenlist {
    font-size: 30px;
}

.vidSlider {
    /* border: solid darkred 2px; */
    margin-top: 200px !important;
    min-width:  70% !important;
    min-height: 70% !important;
    max-width:  70% !important;
    max-height: 70% !important;
    margin-left: 15% !important;
    display: inline-block;
}

.vidSlider > h1 {
    text-align: center;
}

.vidSlider > a {
    max-height: 10px !important;
    top: 428px !important;
}